<table class="table table-responsive">
    <thead>
        <th class="col-md-3"></th>
        <th class="col-md-2">Id</th>
        <th class="col-md-3 column-big">Name</th>
        <th class="col-md-2">Price</th>
        <th class="col-md-2">Stock</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of ProductList">
            <td><img src="{{'data:image/png;base64,' +  product.image}}" class="product-img" alt="{{product.name}}"/></td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{'$' + product.price}}</td>
            <td>{{product.stock}}</td>
        </tr>
    </tbody>
</table>
